{% extends 'base.html' %}
{% block content %}
<!-- Default form login -->
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div>
          <h2 class="text-center">You Have an Account</h2>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form action="" method="POST">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form1Example13" class="form-control form-control-lg" name="username" />
              <label class="form-label" for="form1Example13">Username</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" name="password" />
              <label class="form-label" for="password">Password</label>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                <label class="form-check-label" for="form1Example3"> Remember me </label>
              </div>
              <a href="{% url 'register' %}">Register Now</a>
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}