{% extends 'base.html' %}
{% block content %}
<div class="container my-5 h-100">
    <div class="row ">
        <div class="col-md-5 offset-md-3">
            <div class=" h-100">
                <div class="user_card card">
                    <div class="text-center my-3">
                        <img src="/static/images/instagramClearbg.png" class="my-2" alt="">
                        <p class="text-secondary">Sign up to see photos and <br> videos from your friends.</p>

                    </div>
                    <div>
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="p-2 alert alert-danger">
                            {{message}}
                        </div>
                        {% else %}
                        <div class="p-2 alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center form_container text-secondary">
        
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                              <input type="text" class="form-control shadow-none input-lg" name="email" placeholder="Email">
                            </div>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control shadow-none input-lg" name="fullname" placeholder="Fullname">
                                
                            </div>
                            
                            <div class="input-group mb-2">
                               
                                <input type="text" class="form-control shadow-none input-lg" name="username" placeholder="Username">
                            </div>
                            <div class="input-group mb-2">
                               
                                <input type="password" class="form-control shadow-none input-lg" name="password" placeholder="Password">
                            </div>
                            <div class="input-group mb-2">
                               
                                <input type="password" class="form-control shadow-none input-lg" name="password1" placeholder="Repeat Password">
                            </div>
                            <p class="text-center">People who use our service may have uploaded <br> your contact information to Instagram. Learn <br> More</p>
                            <p class="text-center">
                                By signing up, you agree to our Terms , Data <br> Policy and Cookies Policy .
                            </p>
        
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn login_btn" type="submit" value="Register Account">
                            </div>
                        </form>
                    </div>
                    {{form.errors}}
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-5 offset-md-3">
            <div class="mt-4 card p-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{% url 'login' %}" class="ms-2">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5">
        <p class="me-5">Get the app.</p>
        <div>
            <img src="/static/images/playstore.png" class="me-2" width="15%" alt="">
            <img src="/static/images/googleapp.png" class="me-5" width="15%" alt="">
        </div>
    </div>
</div>

{% endblock %}