{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form action="#" method="POST" class="form" id="pos" enctype="multipart/form-data">
      {% csrf_token %}
      {{ prof_form|crispy}}
     
         
    
     
     <div class="d-flex justify-content-center">
         <button type="submit" class="btn btn-outline-info ">submit</button>
     </div>
     <div class="row my-2">
          <div class="col-md-2 mx-3">
              <p> Similar Account Suggestions </p>
          </div>
          <div class="col-md-6">
             <input type="checkbox">
          
          </div>
     </div>

  </form>
  </div>
 </div>
 {% endblock %}