{% extends 'base.html' %}
{% block content %}
{% include 'components/navbar.html' %}
<div class="container-fluid">
    <div class="row hero">
        <h5 class="text-white ms-5 mt-5">Site of the Day {{today}}</h5>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-white">
                <div class="text-center">
                <h3 class="">{{post.title}}</h3>
                
                <p>BY <span class="text-info text-uppercase">{{post.user.username}}</span> FROM CANADA WITH {{aves.score_average}}</p>
                
                </div>
               </div>
               <div class="row ms-3">
                <div class="  col-md-6 d-flex justify-content-center offset-md-3 text-white ">
                        <li class="circle-note-progress style-design mx-2 list-style" data-note="">
                            <div class="circle">
                                <div class="des d-flex align-items-center justify-content-center">
                                    <p class="m-0 p-0">{{aves.design_average}}</p>
                                </div>
                            </div>
                            <div class="legend">DESIGN</div>
                        </li>
                        <li class="circle-note-progress style-usability mx-2 list-style"
                            data-note="{{rating.usability_average}}">
                            <div class="circle">
                                <div class="des1 d-flex align-items-center justify-content-center">
                                    <p class="d-block mx-auto textrate p-0 m-0">{{aves.usability_average}}</p>
                                </div>
                            </div>
                            <div class="legend">USABILITY</div>
                        </li>
                        <li class="circle-note-progress style-creativity mx-2 list-style"
                            data-note="{{rating.content_average}}">
                            <div class="circle">
                                 <div class="des2 d-flex align-items-center justify-content-center">
                                    <p class="d-block mx-auto textrate p-0 m-0">{{aves.content_average}}</p>
                                </div>
                            </div>
                            <div class="legend">CONTENT</div>
                        </li>
                        <li class="circle-note-progress style-content mx-2 list-style" data-note="{{ rating.score }}">
                            <div class="circle">
                                 <div class="des3 d-flex align-items-center justify-content-center">
                                    <p class="d-block mx-auto textrate p-0 m-0">{{aves.creativity_average}}</p>
                                </div>
                            </div>
                            <div class="legend">CREATIVITY</div>
                        </li>
                  
                </div>

            </div>
        </div>

        <div class=" row d-flex align-items-end mb-5 ms-5">
            <div class="col-md-8">
               
                <a href="{{post.url}}" class="btn btn-info text-white rounded-pill">visit site</a>
                <button class="btn mx-5 btn-outline-light text-white rounded-pill">collect</button>
            </div>

            <div class="col-md-4">
                <a href="/rating/{{post.id}}" class="btn btn-outline-light text-white rounded-pill">Jury rating</a>
            </div>
        </div>

    </div>
<div class="container my-5">
    <h4 class="mt-3">Websites Available</h4>
    <div class="row mt-3">
        {% for post in posts %}
        <div class="col-md-4  p-3 mb-5 bg-body rounded">
           
           <div class="card">
               <!-- <p> {{post.description}}</p> -->
            <a href="/rating/{{post.id}}">
                <img src="{{post.post_img.url}}"class="p-0 m-0" height="400px" width="100%"  alt="{{post.title}}">
            </a>      
            <div class="d-flex m-3">
                <p class="text-uppercase text-info"> {{post.title}}</p>
                <a href="/post_view/{{post.id}}" class=" text-info border border-info px-2 py-0 text-decoration-none mx-4">View</a>
                <a href="{{post.url}}" class="text-decoration-none text-info  border border-info p-1">View Site</a>
            </div>
            <hr>
            <div class="d-flex m-2"> 
            {% if user.profile.proc_img %}
                    <img src="{{user.profile.proc_img.url}}" width="80px" height="80px" class=" rounded-circle mx-3" alt="">
                    {% else %}
                    <img src="/static/images/user.webp" width="60px" height="60px" class=" rounded-circle" alt="">
                    {% endif %}
              
            <p class="ms-2">By:{{post.user.username}}</p> 
            <p class="mx-3"> {{post.created_at}}</p>
            </div>
           </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}


