{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
       <div class="card">
        <h3 class="ms-2">{{request.user.username}} 
        </h3>
        <p>{{request.user.profile.bio}}</p>
        <div>
            
            <img src="{{request.user.profile.proc_img.url}}" class=" rounded-circle" width="80px" height="80px" alt="profile image">
            
           
            <!-- <img src="/static/images/user.webp" width="80px" height="80px" class=" rounded-circle" alt="">
             -->
          
        </div>
       </div>
       <div>
       <a href="{% url 'editprofile' %}" class="btn btn-outline-success">Edit Profile</a>
        <!-- {% for user in users %}
        <div class="col-md-4">
            
            {{user.first_name}}
            {{user.username}}
        </div>
        {% endfor %} -->
    </div>
</div>
{% endblock %}