<!-- {% extends 'base.html' %}
{% block content %}
<form class="ratings-form" action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Comment">Comment</label>
        <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="Design">Design</label>
                <input type="number" class="form-control" name="design" min="0" max="10" value="0">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="Usability">Usability</label>
                <input type="number" class="form-control" name="usability" min="0" max="10" value="0">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="Content">Content</label>
                <input type="number" class="form-control" name="content" min="0" max="10" value="0">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="Creativity">Creativity</label>
                <input type="number" class="form-control" name="creativity" min="0" max="10" value="0">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Rate</button>
    
</form>

{% endblock %} -->