{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg  navbar-light ">
    <div class="col-md-2">
      <a class="navbar-brand menu ms-2" href="#">Menu</a>
    </div>
    <div class="col-md-3">
      <form action="{% url 'search_results' %}" class="form-inline my-2 my-lg-0" method="get">
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
   <div class="col-md-2 mx-2">
      <div class="mt-2" id="name">
          <a class="text-decoration-none" href="{% url 'index' %}"><p id="label">awwwards.</p></a>
      </div>
   </div>
   <div class="col-md-2">
      <div class="mt-3" id="name">
         <a href=""></a>
      </div>
   </div>
    <div class="collapse navbar-collapse  d-flex col-md-3" id="navbarSupportedContent">
          <div class="nav-item dropdown">
              <a class="" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/static/images/user.webp" width="27px" alt="{{image.profile_img}}">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"  href="{% url 'profile' %}"> <img src="/static/images/user.webp" class="mx-3
                  " width="20px" alt=""> Profile</a>
                  <a class="dropdown-item"  href="{% url 'editprofile' %}"> <img src="/static/images/user.webp" class="mx-3
                    " width="20px" alt="">Edit Profile</a>
                  
                    <hr>
                  
                <li><a class="dropdown-item" class="mx-3
                  " href="{% url 'logout' %}">LogOut</a></li>
                 
              </ul>
            </div>
             <div class="mx-3">
              <div class="nav-item ">
                  <a class="nav-link bg-info  text-white" href="{% url 'post' %}">SUBMIT YOUR SITE!</a>
              </div>
             </div>
    
          </ul>
  
    </div>
  
  </nav>
<div class="container my-5">
    <h4 class="mt-3">View Image Details</h4>
    <div class="row card mt-3 shadow-sm">
        
        <div class="col-md-10 offset-md-1   p-3 mb-5 bg-body rounded">
           
           <p> {{post.description}}</p>
            
            <img src="{{post.post_img.url}}"class="p-0 m-0" height="40%" width="100%"  alt="{{post.title}}">
            <div class="d-flex m-3">
            <p class="text-uppercase text-info"> {{post.title}}</p>
            </div>
            <hr>
            <div class="d-flex m-2">   
            <img src="{{request.user.profile.proc_img.url}}" class=" rounded-circle " width="40px" height="40px" alt="profile image">
            <p class="ms-2">By:{{request.user.username}}</p> 
            <p class="mx-3"> {{post.created_at}}</p>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}