{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h4 class="mt-3">View Image Details</h4>
    <div class="row card mt-3 shadow-sm">
        
        <div class="col-md-10 offset-md-1   p-3 mb-5 bg-body rounded">
           
           <p> {{post.description}}</p>
            
            <img src="{{post.post_img.url}}"class="p-0 m-0" height="40%" width="100%"  alt="{{post.title}}">
            <div class="d-flex m-3">
            <p class="text-uppercase text-info"> {{post.title}}</p>
            </div>
            <hr>
            <div class="d-flex m-2">   
            <img src="{{request.user.profile.proc_img.url}}" class=" rounded-circle " width="40px" height="40px" alt="profile image">
            <p class="ms-2">By:{{request.user.username}}</p> 
            <p class="mx-3"> {{post.created_at}}</p>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}