*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#intro{
    height: 8vh;
    background-color: #000;
    color: #fff;
}
#intro .text-center{
    padding-top:1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}

#second-box{
    background-color: #f4f7f6;
    height: 10vh;
    padding-top: 1%;
}
#center{
    font-weight:400;
    text-decoration:none solid rgb(32, 33, 33);

}
.regular-fonts{
    float: right;
    margin-right: 2%;
}
#label{
    font-weight: bold;
    color: #000;
    font-size: 5vh;

}

.hero{
    width: 100%;
    height: 65vh;
    background: url(/static/images/marble-studio-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}




#design{
    color:white;
    border: 3px solid orange;
    border-radius: 50%;
    height:90px;
    width:90px;
    padding-left:20px;
    padding-top:20px;
    margin-right:10px;
    margin-left:70px;
}
.des,.des1,.des2,.des3{
    color:white;
    border-radius: 50%;
    height:78px;
    width:78px;
    /* padding-top:30%; */
    font-size:17px;
}
.des{
    border: 3px solid orange;
}
.des1{
    border: 3px solid brown;
}
.des2{
    border: 3px solid blue;
}
.des3{
    border: 3px solid green;
}
.site-link{
    padding-top:-20px !important;
}

.mi{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

#usable{
    color:white;
    border: 3px solid blue;
    border-radius: 50%;
    padding-left:20px;
    padding-top:20px;
    height:90px;
    width:90px;
    margin-right:10px;
}

#contente{
    color:white;
    border: 3px solid green;
    border-radius: 50%;
    height:90px;
    width:90px;
    padding-left:20px;
    padding-top:20px;
    margin-right:20px;
}

.rates{
    font-size:14px;
    font-weight:bolder;
}

.ting{
    font-size:14px;
}
.display{
    display: flex;
    flex-wrap: wrap;
}
.container-fluid{
    padding-right:0px;
     padding-left:0px;
}

.js-notes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.menu ::before{
    content: "";
    width: 10px;
    height: 2px;
    border: 2px;
    position: absolute;
    left: 0;
    bottom: 0;

}

.hero-btns{
    display: flex;
    align-items: center;
    margin-left: 80px;

}
.overlay{
    height: 70vh;
}
/* style="background-image:url('{% static 'images' %}')"  */

